@{
    ViewBag.Title = "Home Page";
}

<div class="row>
    <div class="="col-md-12">
        <button id="btn1" class="btn btn-success">Fetch</button>
        <table id="table1" class="table table-condensed">

        </table>
    </div>
</div>

<script>
    $("#btn1").click(function () {
        $.ajax({
            url: "/api/products", method: "GET",
            success: function (response) {
                $("#table1").empty();
                $.each(response, function (index, value) {
                    $("<tr><td>" + value.ProductName + "</td><td>" +
                        value.UnitPrice + "</td></tr>").appendTo("#table1");
                });
            }
        })
    })
</script>